{% extends 'collectApp/base.html' %}
{% load static from staticfiles %}

{% block main %}
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js" xmlns:v-on="http://www.w3.org/1999/xhtml"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					端口扫描
				</h1>
			</div>
			<div class="row clearfix">
				<div class="col-md-3 column">
				</div>
				<div class="col-md-6 column">
					<form role="form" action="" id="form">
						<div class="form-group">
							<label for="domainName">域名</label><input placeholder="请输入网址比如:http://www.dedecms.com/" type="text" class="form-control" id="domainName" v-model="domainName" />
						</div>
						<!--   -->
						<div class="form-group">
							<label for="file_ext">扫描端口范围</label><input placeholder="请输入：1-1024,3600,8080（默认为（1-1024））" type="text" class="form-control" id="port_Range" v-model="port_Range" />
                            {% verbatim %}
                            <p>{{ message }}</p>
                            {% endverbatim %}
						</div>
						<input type="button" class="btn btn-default" id="btn" v-on:click="get_result" value="开始扫描" />

					</form>
				</div>
				<div class="col-md-3 column">
				</div>
			</div>
			<table class="table table-condensed" id="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							端口
						</th>
						<th>
							状态
						</th>
                        <th>
							判断原因
						</th>
                        <th>
							猜测服务
						</th>
                        <th>
                            产品
                        </th>
                        <th>
                            版本
                        </th>
					</tr>
				</thead>
				<tbody>
					<!--
					 v-if="item.status === '200'"
						这里的v-if还要再改，能够实现根据当前item.status的值来绑定class属性success、error、warning、info
				 -->
					{% verbatim %}
                    <tr v-if="result.length == 0">
                        <td colspan="7">当前列表无数据</td>
                    </tr>
					<tr v-for="(item, index) in result" v-bind:class="{success: item.status == 200, error: item.status == 404}">
						<td>{{index}}</td>
						<td>{{item.port}}</td>
						<td>{{item.status}}</td>
						<td>{{item.reason}}</td>
						<td>{{item.name}}</td>
						<td>{{item.product}}</td>
						<td>{{item.version}}</td>
					</tr>
					{% endverbatim %}
					<tr class="success">

					</tr>
					<tr class="error">

					</tr>
					<tr class="warning">

					</tr>
					<tr class="info">

					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
<!-- <div id="test">
	{% verbatim %}
	{{message}}
	{% endverbatim %}
</div> -->
<script src="{% static 'portscan/js/portscan.js' %}"></script>
{% endblock %}
