{% extends 'collectApp/details.html' %}

{% block detail %}
<h1>
  网站类型（CMS）详情页
</h1>
<p class="lead" style="text-indent:2em">
  CMS是Content Management System的缩写，意为"内容管理系统"。
</p>
<p class="lead" style="text-indent:2em">
  CMS具有许多基于模板的优秀设计，可以减少开发的成本。
</p>
<p class="lead" style="text-indent:2em">
  CMS的功能并不只限于文本处理，它也可以处理图片、Flash动画、声像流、图像甚至电子邮件档案。
</p>
<p class="lead" style="text-indent:2em">
  CMS还分各个平台脚本种类的。
</p>
<p class="lead" style="text-indent:2em">
  不同的CMS，都会有一些常见的漏洞。在渗透测试中，首先识别出目标网站的cms类型可以有助于确定之后的攻击方式。
</p>

{% endblock %}
