{% extends 'collectApp/details.html' %}

{% block detail %}
<h1>
  目录详情页
</h1>
<p style="text-indent:2em" class="lead">
  网站目录是指网站为了方便浏览者或者管理者好区分而做的分类。网站的目录是网站的基本结构之一。一个网站的目录分类的好对整个网站的浏览有很大的帮助。
</p>
<p style="text-indent:2em" class="lead">
  现今搜索引擎对于高质量的网站目录十分的重视，对于我们的站点来说，如果可以进入一个高质量的网站目录，那么无疑使获得了一张很有优势的“支持票”。对于 一个新站来说，提交网址到分类目录站点也是一项重要的工作。其带来的好处主要可以分为两点。
</p>
<p style="text-indent:2em" class="lead">
  而在渗透测试中，对网站的目录进行扫描，意在发现其中的敏感目录。而掌握网站的敏感目录是进一步获取网站的基础。所以在信息收集阶段，目录扫描就是一个必不可少的工作。
</p>

{% endblock %}
