{% extends 'collectApp/base.html' %}
{% load static from staticfiles %}

{% block main %}
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js" xmlns:v-bind="http://www.w3.org/1999/xhtml"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>

<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          cms指纹识别
        </h1>
      </div>
      <div class="row clearfix">
        <div class="col-md-3 column">
        </div>
        <div class="col-md-6 column">
          <form role="form" action="" id="form">
            <label for="domainName">
              <h3>域名</h3>
            </label>
            <div class="input-group">
              <input type="text" class="form-control" id="domainName" v-model="domainName" placeholder="请输入网址比如:http://www.dedecms.com/" />
              <span class="input-group-btn">
                <input type="button" class="btn btn-default" id="btn" v-on:click="cms_getlist" value="识别一下" />
              </span>
            </div>
            <!--   -->
            <!-- <div class="btn-group form-group">
              <button class="btn btn-default">扫描类型</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
					  	<ul class="dropdown-menu">
						  	<li>
							  	 <a href="#">操作</a>
							  </li>
						  	<li class="disabled">
							  	 <a href="#">另一操作</a>
							  </li>
							  <li class="divider">
							  </	li>
							  <li>
								   <a href="#">其它</a>
							  </li>
						  </ul>
					  </div> -->

          </form>

            {% verbatim %}
            <br><br>
              <div id="cmsresult" v-if="hasResult == 1">
                <div class="panel panel-success">
                <div class="panel-heading">
                    CMS：{{ cmsType }}
                </div>
			    </div>
              </div>
              {% endverbatim %}
        </div>
        <div class="col-md-3 column">
        </div>
      </div>
      <div class="row clearfix">
        <div class="col-md-1 column">
        </div>
        <div class="col-md-10 column">
          <div class="page-header">
            <h2>
              在线cms指纹识别工具介绍
            </h2>
          </div>
          <blockquote>
            <p>输入网址，可以快速帮您识别出网站的搭建环境，网站使用的系统，网站防火前，和cms源码中使用的一些js库等等！</p>
            <p>新增了将近上百种识别规则，常见的网站，一般很快能够识别出来！</p>
          </blockquote>

          <div class="page-header">
            <h2>
              cms识别工具原理
            </h2>
          </div>
          <blockquote>
            <p>其实很简单，并没有什么特别之处，网上一搜一大把，无非就是指纹和md5的匹配！</p>
            <p>本站采用文件指纹扫描+md5匹配</p>
          </blockquote>

        </div>
        <div class="col-md-1 column">
        </div>
      </div>

      <!-- <table class="table table-condensed" id="table">
				<thead>
					<tr>
						<th>
							编号
						</th>
						<th>
							目录
						</th>
						<th>
							状态码
						</th>
					</tr>
				</thead>
				<tbody>

					 v-if="item.status === '200'"
						这里的v-if还要再改，能够实现根据当前item.status的值来绑定class属性success、error、warning、info

					{% verbatim %}
					<tr v-for="item in list">
						<td>{{i++}}</td>
						<td>{{item.url}}</td>
						<td>{{item.status}}</td>
					</tr>
					{% endverbatim %}
					<tr class="success">

					</tr>
					<tr class="error">

					</tr>
					<tr class="warning">

					</tr>
					<tr class="info">

					</tr>
				</tbody>
			</table> -->
    </div>
  </div>

</div>
<!-- <div id="test">
	{% verbatim %}
	{{message}}
	{% endverbatim %}
</div> -->
<script src="{% static 'cmsdistinguish/js/cmsdistinguish.js' %}"></script>
{% endblock %}
